<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="Office Tabs Workspace" Manufacturer="OfficeTabs Dev" Version="1.0.0" UpgradeCode="68df7e59-00ef-4f27-99bc-359521ee0be9">
    
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="https://opensource.org/licenses/MIT" Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
      <!-- קישור חבילת ה-MSI שנוצרה בשלב הקודם -->
      <MsiPackage SourceFile="publish/OfficeTabsSetup.msi" Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
